<%- include('partials/header') %>

<div class="col-sm-4 containerS">
  <div class="center">
    <div class="card social-block">
      <div class="card-body">
        <a class="btn btn-block btn-social btn-spotify " href="/auth/spotify" role="button">
          <i class="fab fa-spotify"></i>
          Sign up / Log in with spotify!
        </a>
      </div>
    </div>
  </div>
</div>


<div class="col-sm-4 containerYT">
  <div class="center">
    <div class="card social-block">
      <div class="card-body">
        <a class="btn btn-block btn-social btn-youtube" href="/auth/google" role="button">
          <i class="fab fa-youtube"></i>
          Sign up / Log in with youtube!
        </a>
      </div>
    </div>
  </div>
</div>


<%- include('partials/footer') %>
