<%- include('partials/header') %>



<div class="paragraph">
  <i class="fab fa-spotify fa-3x"></i>
  <p>Successfully loged in.. Your playlist will be created Shortly !</p>
  <hr style="width:50%">
  <a class="btn btn-light btn-lg" href="/register" role="button">Back to log in !</a>
</div>

<%- include('partials/footer') %>
